CONFIG_SPIRAM=y
CONFIG_BSP_LCD_RGB_BUFFER_NUMS=1
CONFIG_BSP_LCD_DRAW_BUF_HEIGHT=20
# CONFIG_BSP_LCD_DRAW_BUF_DOUBLE is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
